{
    "RootNamespace": "ESignature",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=localhost; Initial Catalog=SmartAccess; User ID=sa;Password=smarti123;Integrated Security=False",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.OrganizationAccessPoints",
                    "Identifier": "OrganizationAccessPoints",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Organization",
                    "Identifier": "Organization",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OrginizationEmployee",
                    "Identifier": "OrginizationEmployee",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ActivityLog",
                    "Identifier": "ActivityLog",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Exceptions",
                    "Identifier": "Exceptions",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VersionInfo",
                    "Identifier": "VersionInfo",
                    "Module": "VersionInfo",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Salutation",
                    "Identifier": "Salutation",
                    "Module": "Master",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MaretialStatus",
                    "Identifier": "MaretialStatus",
                    "Module": "Master",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Gender",
                    "Identifier": "Gender",
                    "Module": "Master",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Audit",
                    "Identifier": "Audit",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CompanyGroup",
                    "Identifier": "CompanyGroup",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CompanyMaster",
                    "Identifier": "CompanyMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.FinancialYearMaster",
                    "Identifier": "FinancialYearMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CompanyLocations",
                    "Identifier": "CompanyLocations",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LocationMaster",
                    "Identifier": "LocationMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Designations",
                    "Identifier": "Designations",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.DivisionMaster",
                    "Identifier": "DivisionMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Departments",
                    "Identifier": "Departments",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SubDepartments",
                    "Identifier": "SubDepartments",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BloodGroups",
                    "Identifier": "BloodGroups",
                    "Module": "Master",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.EmployeeType",
                    "Identifier": "EmployeeType",
                    "Module": "Master",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.EmploymentTypes",
                    "Identifier": "EmploymentTypes",
                    "Module": "Master",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Employees",
                    "Identifier": "Employees",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.EmployeeMaster",
                    "Identifier": "EmployeeMaster",
                    "Module": "Test",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MasterCardTechnology",
                    "Identifier": "MasterCardTechnology",
                    "Module": "CardManagement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MasterCardUseType",
                    "Identifier": "MasterCardUseType",
                    "Module": "CardManagement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MasterCardType",
                    "Identifier": "MasterCardType",
                    "Module": "CardManagement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MasterCardActivity",
                    "Identifier": "MasterCardActivity",
                    "Module": "CardManagement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CardPool",
                    "Identifier": "CardPool",
                    "Module": "CardManagement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MasterCardStatus",
                    "Identifier": "MasterCardStatus",
                    "Module": "CardManagement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.EmployeeFunctionCards",
                    "Identifier": "EmployeeFunctionCards",
                    "Module": "AccessEmployee",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ControllerAuthenticationType",
                    "Identifier": "ControllerAuthenticationType",
                    "Module": "Controller",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "SignatureEntities",
            "ConnectionString": "metadata=res://*/BLEMobile.csdl|res://*/BLEMobile.ssdl|res://*/BLEMobile.msl;provider=System.Data.SqlClient;provider connection string=\"data source=localhost;initial catalog=SmartAccess;User ID=sa;Password=smarti123;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework\"",
            "ProviderName": "System.Data.EntityClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\ESignature\\ESignature.Web\\ESignature.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}