@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Master.EmployeeType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ESignature.Master.EmployeeTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>