@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CardManagement.MasterCardTechnology.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ESignature.CardManagement.MasterCardTechnologyGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>