@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Admin.FinancialYearMaster.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ESignature.Admin.FinancialYearMasterGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>