@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.SubDepartments.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ESignature.Default.SubDepartmentsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>