@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Admin.CompanyGroup.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ESignature.Admin.CompanyGroupGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>