@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Employee.EmployeeMaster.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ESignature.Employee.EmployeeMasterGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>