@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CardManagement.CardPool.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ESignature.CardManagement.CardPoolGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>