@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AccessEmployee.EmployeeFunctionCards.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ESignature.AccessEmployee.EmployeeFunctionCardsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>